:root {
    --blanco: #ffffff;
    --amarillo: #ffef0f;
    --azul: #2711b5;
    --oscuro: #212121;
    --primario: #E9A135;
    --secundario: #2F5EEB;
    --gris: #757575;
    --grisClaro: #E4D9E5;
 }


body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    text-align: center;
    padding: 1px;
}

p {
    font-size: 18px;
    color: #555;
    text-align: center;
    padding: 10px;
}


/* Estilo para la sección con fondo */
.secnavbar {
    background-image: url('https://images.unsplash.com/photo-1607619056574-7b8d3ee536b2?q=80&w=1240&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Espacio alrededor del contenido */
    text-align: center;
    color: #000; /* Color de texto */
    position: relative;
}

.navbar a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #930001;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.navbar a:hover {
    background-color: #fff;
    color: #000;
}

 /* Estilos para el modal */
 .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cerrar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cerrar-btn:hover {
    background-color: #45a049;
}


.producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
    margin-bottom: 25px; /* Espacio entre las tarjetas */
}


.producto img {
    text-align: center;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.course-title {
    font-size: 18px;
    margin: 16px 0 8px;
    font-weight: bold;
}


.sobre-nosotros{
    text-align: center;
}

.contacto {
    text-align: center;
}

.aplicacion {
    text-align: center;
}


.producto1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
    margin-bottom: 25px; /* Espacio entre las tarjetas */
}


.producto1 img {
    text-align: center;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.producto2 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
    margin-bottom: 25px; /* Espacio entre las tarjetas */
}


.producto2 img {
    text-align: center;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.footer-section {
    background: linear-gradient(to bottom right, #00BFFF, #00FFFF); /* Fondo degradado */
    padding: 20px;
    text-align: center;
    color: #000;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    max-width: 2500px;
}

/* Estilo para el ícono */
.footer-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

/* Estilo para el título */
.footer-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

/* Estilos para el texto de contacto */
.footer-contact,
.footer-email {
    font-size: 1em;
    margin: 5px 0;
}

/* Estilo para los enlaces */
.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 60px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 10px;
}

.aplicacion {
    width: 10px;
    height: auto;
}